<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <nav :class="[`navbar-${theme} bg-${theme}`, 'navbar' ,'navbar-expand-lg']">
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item" v-for="(dat    ,ind) in page" :class="{bold : activePage==ind}">
                    <a class="nav-link" :href="dat.link" @click.prevent="activePage = ind">{{ dat.title }}</a>

                </li>

            </ul>
            <button @click.prevent="changeTheme" class="btn bg-secondary">kire vaii</button>
        </div>
    </nav>
    <div id="app" class="appInf">

        <div>
            <p>Current Time with Seconds: {{ currentTime }}</p>
        </div>

        <page-body :page="page[activePage]"></page-body>
        <div class="txtarea-btn">
            <textarea v-model="note"></textarea>
            <!-- Button that triggers the notesave method with the value of 'note' data property -->
            <button class="btn btn-dark" @click="notesave">Save Note</button>

        </div>
        <ul class="list-group">
            <li v-for="(note,idx) in notes" :key="idx" class="list-group-item"
                :class="clicked.includes(idx) ? 'ligreen' : 'lired'" @click="makegreen(idx)">
                <h4>{{note}}</h4>
            </li>

        </ul>
    </div>










    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script> -->
    <script src="./vue.js"></script>


</body>

</html>